/*
.button {
    background: #0000ff;
}

 GtkButton:hover {
    background: #00ffff;
    transition: 100ms linear;
 }

 GtkCheckButton:active {
   color: #ff9999;
   background: #99ff00;
 }

 GtkButton {
   color: #ff0000;
   background: #00ff00;
}
*/

.chosen_list {
    background: rgba(255, 230, 230, 0.35);
    color: #000;
    /*border: 2px #880000 solid;*/

}

.chosen_list:selected {
    background: rgba(255, 50, 50, 1);
    color: #fff;
}

.chosen_list1 {
    background: rgba(230, 230, 255, 0.35);
    color: #000;
    /*border: 2px #000099 solid;*/
}

.chosen_list1:selected {
    background: rgba(50, 50, 255, 1);
    color: #fff;
}

/*
#toggle_proxy_user_open_button,
#toggle_proxy_open_button,
#toggle_proxy_allow_button
{
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@selected_bg_color, 1.1)),
                                     color-stop (0.55, shade (@selected_bg_color, 1.0)),
                                     color-stop (0.55, shade (@selected_bg_color, 0.8)),
                                     to (shade (@selected_bg_color, 0.9)));
}
*/
