
  .button {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@selected_bg_color, 1.1)),
                                     color-stop (0.55, shade (@selected_bg_color, 1.0)),
                                     color-stop (0.55, shade (@selected_bg_color, 0.8)),
                                     to (shade (@selected_bg_color, 0.9)));
  }
 /* 
  GtkButton:hover {
    transition: 100ms linear;
  }

  GtkCheckButton:active {
    color: #ff9999;
    background: #99ff00;
  }
  
  GtkButton {
    color: #ff0000;
    background: #00ff00;
}
*/